body {
  background: url(3.jpg);
}
div {
  width: 600px;
  margin: auto;
  background: gray;
  color: white;
  padding: 2px;
}
#fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  background: blue;
  color: yellow;
  width: 50px;
  opacity: 0.6;
  border-left: 20px solid black;
}
.float {
  float: right;
  background: yellow;
  color: blue;
  width: 200px;
  margin: 2px;
  text-indent: 10px;
}
#over {
  width: 150px;
  height: 150px;
  overflow: hidden;
  clear: right;
}
table {
  width: 100%;
}
#tab {
  max-width: 250px;
  margin-top: 5px;
}
img.www {
  width: 600px;
  height: 600px;
  border: 5px solid green;
  padding: 20px;
  background: gray;
}
img.www:hover {
  border: 7px solid blue;
}
#logo {
  border: none;
  width: 70px;
  height: 20px;
}
img.img {
  width: 200px;
  height: 200px;
  border: 0;
  padding: 0;
}

p.im {  
  line-height: 1px;
}
p.dog > img {
  width: 100%;
  height: 100%;
}
.floatl {
  float: left;
}
img + img {
  transform: scale(-1 , 1);
}
#vv {
 transform: scale(1, -1); 
}
#bor {
  background: url(bor.png) no-repeat 10px -18px ;
  border-top: 1px dashed gray ;
  height: 18px;
  width: 100%;
  text-align: center;
  color: black;
}
hr {
  background-color: red;
  color: red;
}
.hor li {
  display: inline;
  border: 2px solid red;
}
.apple {
  list-style-image: url(apple.gif);
}
.n li span {
  color: navy;
}
.menu li {
  display: inline-block;
  margin: 5px;
  text-align: center;
  background: blue;
  color: yellow;
  width: 200px;
  height: 100px;
    -webkit-transform: skewX(-30deg); 
    -moz-transform: skewX(-30deg); 
    -o-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg); 
}
.menu li span {
  display: block;
    -webkit-transform: skewX(40deg); 
    -moz-transform: skewX(40deg); 
    -o-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    transform: skewX(40deg); 
    padding: 0;
}
ol.ck {
  list-style-type: none;
  counter-reset: item;
}
ol.ck li:before {
  content: counter(item)")";
  counter-increment: item;
  margin-left: 5px;
  padding-left: 10px;
}
table {
  border: green double 10px;
}
thead {
  background: red;
  color: yellow;
  opacity: 0.5;
}
.tr {
  display: block;
  border-radius: 10px 10px 10px 10px; 
  background: cyan;
  opacity: 1;
}
td {
  border: 1px double black;
  border-spacing: 5px;
}
#text {
  line-height: 1.5em; 
  color: navy;
  font-size: 0.9em;
  font-family: sans-serif, Courier; 
}
#rig {
  text-align: right;
}
#linedec {
  background: url(vert.jpg) repeat-y 100% ,
  url(vert.jpg) repeat-y 100% 0;
  padding: 10px;
  text-align: center;
}
textarea {
  height: 20px;
  width: 150px;
  resize: none;
}
p:first-letter {
  color: red;
  height: 15px;
}

#alt {
  position: fixed;
  opacity: 0.8;
  bottom: 0;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
#alt p:first-letter {
  height: 30px;
  padding-left: 10px;
}
.dot {
  border-bottom: 2px dashed white;
  text-decoration: none;
  background: url(favicon.jpg) no-repeat 0 5px; 
  padding-left: 15px;
 -webkit-transition: 5s linear;
     -moz-transition: 5s linear;
     -o-transition: 5s linear;
     transition: 5s linear;
}
.dot:visited {
  color: white;
}
.dot:hover {
  color: green;
}
#mar{
  margin-bottom: 150px;
}